# ---- Discord OAuth (connexion des utilisateurs) ----
# Discord Developer Portal -> ton application -> OAuth2
DISCORD_CLIENT_ID=1510802876060926033
DISCORD_CLIENT_SECRET=C5rAhf07v7hp7zQW_uqIcx9W4C3mXdt8
# URL de redirection (doit etre ajoutee dans OAuth2 -> Redirects sur Discord)
DISCORD_CALLBACK_URL=http://localhost:3000/callback

# ---- Application ----
PORT=3000
# URL publique utilisee pour generer les liens de candidature
BASE_URL=http://localhost:3000
# Cle secrete pour les sessions (mettre une valeur aleatoire longue)
SESSION_SECRET=change-me-please

# ---- Permissions ----
# ID Discord du proprietaire qui peut creer/gerer les candidatures
ADMIN_ID=1016479613297369139
